[SddmGreeterTheme]
Name=CentenTheme
Description=Centen's SDDM theme
Author=CentenAZ
Copyright=
License=GPL 3+
Type=sddm-theme
Version=1.0
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=Cntn
Theme-API=2.0
